*{
    font-family: Arial, Helvetica, sans-serif;
}
#keydiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    padding:1%;
    border-radius: 12px;
}
.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100px;
    border: solid black;
    margin: 5px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.key:hover{
    transform: translateY(-5px);
}